@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* background-color: #0b1117; */
  background-image: linear-gradient(#0b1117 20%, #151f2a 80%);
  font-family: "Poppins", serif;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 7px;
  background-color: rgb(67, 67, 67);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgb(62, 87, 227);
}
